@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif , Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

header nav .parte_1{
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0F5AF2;
    box-shadow: 1px 2px 5px #33333383;
}

header nav .parte_1 h1{
    font-size: 1.6em;
    color: #ffff;
}


header nav .parte_1 .nav_menu{
    display: none;
}

header nav .parte_1 .menu_icon button{
    background-color: #0F5AF2;
    outline: none;
    border: none;

}


header nav .parte_1 .menu_icon img:hover {
    background-color: #2457bd;

}

header  nav .parte_1 .menu_icon img{
   background-color: #3565F2;
   border-radius: 10px;
   cursor: pointer;
    padding: 10px;

}


header nav .parte_2  menu {
    width: 100vw;
    background-color: #143C8C;
    display: block;

}

 header nav .parte_2 menu ul {
    list-style-type: none;
    text-align: center;
 }

 header nav .parte_2 menu ul li{
    padding:10px;

 }

  header nav .parte_2 menu ul li:hover{
    background-color: #7397e1;
  }

 header nav .parte_2 menu ul li a {
    color: #fff;
    text-decoration: none;
 }

 main {
    width: 100vw;
    height: auto;
    
 }









